body {
    font-family: "游明朝";
}
   
p {
    text-indent: 1em;
}

h1 {
    font-family: "游ゴシック","メイリオ";
}

h2, h3 {
    margin-top: 1em;
    font-family: "游ゴシック","メイリオ";
}

code {
    font-family: "游明朝","游ゴシック","メイリオ";
}